.prog {    
    width: 25%;
    min-height: 100%;
    line-height: inherit;
    background-color: white;
    margin-left: 20px;
    margin-top: 2rem;
    font-size: 3rem;
    float: left;
}

.diceRoll {
    background-color: white;
    align-items: center;
    float: none;
}

.red {
    color: red;
}

.desc2 {
    font-size: 2rem;
}

.die2 {
    font-size: 4rem;
}