.roll {
    width: 12%;
    min-height: 100%;
    line-height: inherit;
    margin-left: 20px;
    margin-top: 2rem;
    float: left;
  background-color: white;
}

.die {
  font-size: 8rem;
  line-height: 1;
  color: black;
  /*width: 2rem;*/
}

.dieTitle {
  font-size: 3.5rem;
  line-height: 1;
  color: black;
}

.diePlay {
  font-size: 2.5rem;
  line-height: 1;
  color: black;
}

.rollsRemaining {
  font-size: 2.5rem;
  line-height: 1;
  color: black;
}

div.reroll {
  color:red;
}

.final {
  background: #b8ffb8;
}
