.roll {
    width: 10%;
    min-height: 100%;
    line-height: inherit;
    background-color: white;
    margin-left: 20px;
    margin-top: 2rem;
    float: left;
}

.die {
  font-size: 8rem;
  line-height: 1;
  color: black;
  background-color: white;
  /*width: 2rem;*/
}

.dieTitle {
  font-size: 4rem;
  line-height: 1;
  color: black;
  background-color: white;
}
